/* selector*/
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold", sans-serif;
}

p {
  color: #8f8f8f;
}

/*class*/
.big-heading {
  font-family: "Montserrat-black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
/* container */
.container-fluid {
  padding: 7% 15%;
}
/* section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}
/* title section */
/* navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

/* title */
.Download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(24deg);
  position: absolute;
  right: 30%;
}

/* features classes */
.features-col {
  padding: 5%;
}

.features-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial classes */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* press class */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.press-log {
  width: 15%;
  margin: 20px 20px 50px;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.footer-icon {
  margin: 20px 10px;
}

/* id */
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

#features {
  position: relative;
}

#testimonials {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

#pricing {
  padding: 100px;
}



@media (max-width: 1024px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
